

* {
  box-sizing: border-box; /* Ensure padding and borders are included in the width */
  overflow-x: hidden;
}


html {
  overflow-x: hidden;
}

.form {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100vw;
  margin-top: 10px;
}


button {
  background-color: black;
  border: 1px solid white;
  width: 40%; /* 80% width of parent */
  color: white;
  padding: 10px;
  border-radius: 10px;
}

input {
  width: 60%; 
  font-size: .4em;
  background-color: black;
  border-radius: 10px; !important
  display: flex;
  color: white;
}

input::placeholder {
  font-size: .2rem;
}

h4 {
  margin: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.8em;
  margin: 10px;
}

input {
  font-size: 1.3em;
  padding: 10px;
  background-color: black;
  width: 40%;
  font-family: "Inter";


}

input::placeholder {
  padding: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
}
/* Media query for screens smaller than 600px (e.g., mobile devices) */
/* @media (max-width: 600px) { */
/*   h3 { */
/*     font-size: 1.5em; /1* Smaller font size for smaller screens *1/ */
/*   } */
/* } */
/* /1* Media query for screens smaller than 400px (optional, for very small devices) *1/ */
/* @media (max-width: 400px) { */
/*   h3 { */
/*     font-size: 1.2em; /1* Even smaller font size for very small screens *1/ */
/*   } */
/* } */
